.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;


  .wrap_title {
    font: {
      size: 30px;
      weight: 700;
    };
  }

  .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #e8e8e8;
    overflow-y: scroll;
    height: 500px;

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 10px;
    }
  }
}